Tests: src-dev
Depends: @, mksh, moreutils, pcregrep
Restrictions: allow-stderr, superficial

Tests: fakeunit
Depends: @
Restrictions: allow-stderr

Tests: phpunit
Depends: @, phpunit
Restrictions: allow-stderr

Tests: syntax
Depends: @
Restrictions: allow-stderr, superficial

Tests: syntax5
Depends: @, mksh, php5-cli
Restrictions: allow-stderr, superficial

Tests: syntax70
Depends: @, mksh, php7.0-cli, php7.0-mbstring
Restrictions: allow-stderr, superficial

Tests: syntax71
Depends: @, mksh, php7.1-cli, php7.1-mbstring
Restrictions: allow-stderr, superficial

Tests: syntax72
Depends: @, mksh, php7.2-cli, php7.2-mbstring
Restrictions: allow-stderr, superficial

Tests: syntax73
Depends: @, mksh, php7.3-cli, php7.3-mbstring
Restrictions: allow-stderr, superficial

Tests: syntax74
Depends: @, mksh, php7.4-cli, php7.4-mbstring
Restrictions: allow-stderr, superficial

Tests: syntax80
Depends: @, mksh, php8.0-cli, php8.0-mbstring
Restrictions: allow-stderr, superficial

Tests: syntax81
Depends: @, mksh, php8.1-cli, php8.1-mbstring
Restrictions: allow-stderr, superficial

Tests: syntax82
Depends: @, mksh, php8.2-cli, php8.2-mbstring
Restrictions: allow-stderr, superficial
