Tests: src-dev
Depends: @, mksh, moreutils, pcregrep
Restrictions: allow-stderr

Tests: fakeunit
Depends: @
Restrictions: allow-stderr

Tests: phpunit
Depends: @, phpunit
Restrictions: allow-stderr

Tests: syntax
Depends: @
Restrictions: allow-stderr

Tests: syntax5
Depends: @, mksh, php5-cli
Restrictions: allow-stderr

Tests: syntax70
Depends: @, mksh, php7.0-cli
Restrictions: allow-stderr

Tests: syntax71
Depends: @, mksh, php7.1-cli
Restrictions: allow-stderr

Tests: syntax72
Depends: @, mksh, php7.2-cli
Restrictions: allow-stderr

Tests: syntax73
Depends: @, mksh, php7.3-cli
Restrictions: allow-stderr

Tests: syntax74
Depends: @, mksh, php7.4-cli
Restrictions: allow-stderr
