Source: hello-php-world
Origin: tarent
Bugs: mailto:t.glaser@tarent.de
Section: web
Priority: optional
Maintainer: Thorsten Glaser <t.glaser@tarent.de>
Standards-Version: 4.5.0
Build-Depends: debhelper (>= 9), dbconfig-common, mksh, moreutils, pcregrep,
 php5-cli | php-cli, php-mbstring | php5-cli, phpab, phpunit
Homepage: https://www.tarent.de/
Rules-Requires-Root: no
VCS-Browser: https://evolvis.org/plugins/scmgit/cgi-bin/gitweb.cgi?p=shellsnippets/hello-php-world.git
VCS-git: https://evolvis.org/anonscm/git/shellsnippets/hello-php-world.git

Package: hello-php-world
Architecture: all
Depends: ${misc:Depends}, apache2 | httpd,
 dbconfig-common (<< 2) | dbconfig-pgsql | dbconfig-no-thanks,
 libapache2-mod-php5 | libapache2-mod-php | libapache2-mod-php5filter |
 php5-cgi | php-cli | php5-fpm | php-fpm | php5 | php,
 php-mbstring | php5-cli, php5-pgsql | php-pgsql, postgresql
Description: Hello World example for PHP packaging with PostgreSQL
 This package is an example of how to package a web application
 written in PHP, using a locally set up PostgreSQL database cluster,
 configured with dbconfig-common, for Debian. The recommended web
 server setup here is Apache 2 (both 2.2 and 2.4 are supported)
 with mod_php5 or mod_php (version 7.x or up).
