#!/bin/sh

set -e

# Initialise debconf
. /usr/share/debconf/confmodule

# This maintainer script can be called the following ways:
#
# * config "configure" $installed_version
# Called twice: once during preconfiguration (if this is used at all),
# once during (before) postinst. Might be run before preinst or before
# the package is unpacked or even its pre-dependencies are satisfied;
# it must work with only Essential and debconf (including versioned
# dependencies) installed.
#
# * config "reconfigure" $installed_version
# Called when dpkg-reconfigure is used on the package.

HPW_package=hello-php-world

# Initialise dbconfig-common
dbc_generate_include_owner=root:www-data
dbc_generate_include_perms=0640
dbc_generate_include=php:/var/lib/$HPW_package/dbconfig.inc
# hack to force 'C' locale and ASCII encoding (for speed)
#dbc_pgsql_createdb_encoding="SQL_ASCII' lc_ctype='C' lc_collate='C"
# hack to force 'C' locale and UTF-8 encoding (for correctness)
dbc_pgsql_createdb_encoding="UTF8' lc_ctype='C.UTF-8' lc_collate='C"
# slightly more correct but also more fragile
#dbc_pgsql_createdb_encoding="UTF8' lc_ctype='C.UTF-8' lc_collate='C.UTF-8"
# use UTF-8 encoding and server locale, when desired (may break
# expectations, as it may sort case-insensitively and ignore
# intra-word punctuation (a_b < ac_d < a_e); it is also slower);
# hoping this works, as replication may break; details at:
# https://www.postgresql.org/message-id/BA6132ED-1F6B-4A0B-AC22-81278F5AB81E@tripadvisor.com
#dbc_pgsql_createdb_encoding=UTF8
dbc_authmethod_user=password
if test -f /usr/share/dbconfig-common/dpkg/config.pgsql; then
	. /usr/share/dbconfig-common/dpkg/config.pgsql
	dbc_go "$HPW_package" "$@"
fi

# dh_installdeb will replace this with shell code automatically
# generated by other debhelper scripts.

#DEBHELPER#

exit 0
