#!/usr/bin/make -f

ifeq (,$(findstring terse,${DEB_BUILD_OPTIONS}))
export DH_VERBOSE=1
export V=1
export VERBOSE=1
endif

LC_ALL:=C
export LC_ALL

%:
	dh $@

override_dh_auto_test:
ifeq (,$(findstring nocheck,${DEB_BUILD_OPTIONS}))
	cd tests && exec phpunit .
else
	@echo 'I: tests disabled'
endif

override_dh_builddeb:
	dh_builddeb -- -Zgzip -z9
